<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--目标对象-->
    <bean id="userDao" class="com.kristin.jdk.dao.UserDaoImpl"/>
    <!--前置通知-->
    <bean id="beforeAdvice" class="com.kristin.jdk.advice.MyBeforeAdvice"/>
    <!--配置生成代理对象-->
    <bean id="userDaoProxy" class="com.kristin.jdk.aop.ProxyFactoryBean">
        <!--代理的目标对象-->
        <property name="target" ref="userDao"/>
        <!--代理要实现的接口-->
        <property name="proxyInterface" value="com.kristin.jdk.dao.UserDao"/>
        <!--需要织入的通知-->
        <property name="interceptor" value="beforeAdvice"/>
    </bean>
</beans>